// -*- Mode: jade; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*-
doctype html
html
  head
    title WebGL Test
    meta(charset='UTF-8')

    script(src='./jquery-1.9.1.min.js')
    script(src='./jquery.base64.js')
    script(src='./glMatrix-0.9.5.min.js')
    script(src='./webgl-utils.js')
    script(src='./code.js')

    script#shader-fs(type="x-shader/x-fragment")
      include shader.frag
    script#shader-vs(type="x-shader/x-vertex")
      include shader.vert

    script#pixel-lighting-fs(type="x-shader/x-fragment")
      include pixel_lighting.frag
    script#pixel-lighting-vs(type="x-shader/x-vertex")
      include pixel_lighting.vert

    script#wire-fs(type="x-shader/x-fragment")
      include wire.frag
    script#wire-vs(type="x-shader/x-vertex")
      include wire.vert

    :stylus
      body
        font-family ariel sans-serif
        text-align center

      #canvasbox
        border solid 1px black

      #viewport
        background grey
        width 640px
        height 480px

  body(lang='en')
    h1 Test Canvas
    #canvasbox
      canvas#viewport

    #status Initializing...
